@{
    ViewData["Title"] = "Thông tin về website";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Để website này được nhiều dữ liệu hơn, mong được sự đóng góp của mọi người. Mọi thông tin 
    vui lòng gửi qua mail.
    </p>
