@{
    ViewData["Title"] = "Thông tin liên hệ";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    66/67 Trần Văn Quang, Phường 10,<br />
    Quận Tân Bình, Thành phố Hồ Chí Minh<br />
    <abbr title="Phone">Tel:</abbr>
    0982-880-258
</address>

<address>
    <strong>Support:</strong> <a href="mailto:nult2003@gmail.com">nult2003@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:nult2003@gmail.com">nult2003@gmail.com</a>
</address>
